*.d
*.o
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
.npm-cache
compile_commands.json
k5_eeprom.raw

/build
/release-assets
/serialtool/__pycache__

.DS_Store
node_modules
package-lock.json
